<%- include('header'); -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta labore laborum eveniet reiciendis vero? Nemo atque dolorem sed unde odio ab rerum, ea voluptatibus nostrum incidunt iusto nesciunt veniam iste?</p>
<%- include('footer'); -%>